body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  .map-column {
    padding-top: 56px;
    width: 50%;
    height: 91%;
    position: fixed;
    right: 0;
    top: 0;
  }
  .search-column {
    padding-top: 70px;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .fixed-top{
    background-color: #4DBD33;
  }
  .restaurant-info {
    .restaurant-pic {
      float: left;
      height: 100px;
      width: 100px;
      margin: 0;
    }
    .restaurant-details {
      text-align: left;
    }
    .restaurant-address {
      text-align: right;
    }
    .restaurant-contact {
      text-align: right;
    }
    ol {
      list-style-type: decimal;
      margin-left: 25px;
    }
    img {
      border-radius: 3px;
    }
  }

}
