body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  .map-column {
    padding-top: 56px;
    width: 50%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
  }
  .search-column {
    padding-top: 56px;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .Box01 {
    float: left;
    text-align: left;
    margin: 2px 10px;
    display: inline;
  }
  .Box02 {
    float: right;
    text-align: left;
    margin: 2px 10px;
    display: inline;
  }
  .Box03 {
    margin: 0 auto;
  }
  .fixed-top{
    background-color: #4DBD33;
  }
}
