body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  .map-column {
    padding-top: 140px;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .search-column {
    padding-top: 140px;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
