body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  button {
    border-radius: 4px;
    float: right;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;

  }
  .venue-suggestions {
    text-align: left;
    margin-left: 30px;
  }
  .favourite-venues {
    text-align: left;
    margin-left: 30px;
  }
  .map-column {
    padding-top: 70px;
    width: 50%;
    height: 89%;
    position: fixed;
    right: 0;
    top: 0;
  }
  .search-column {
    padding-top: 80px;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .fixed-top{
    background-color: #00B551;
    height: 70px;
    .foodie-logo {
      left:0;
      width:200px
    }
    .login-signup{
      right: 20px;
      position: fixed;
      vertical-align: middle;
      .navbar-brand {
        font-size: 16px;
      }
    }
  }
  ol {
      list-style-type: none;
      padding-left: 0;
    }
  .restaurant-info {
    width: 100%;
    .restaurant-order {
      font-size: 2rem;
      margin-right: 2rem;
      vertical-align: top;
      font-weight: 700;
    }
    .restaurant-pic {
      display: inline-block;
      border-radius: 4px;
      vertical-align: top;
    }
    .restaurant-details {
      display: inline-block;
      padding: 0 0 0 20px;
      width: 476px;
      text-align: left;
      .restaurant-name {

      }
      .restaurant-rating {
        background-color: #43C914;
        border-radius: 4px;
        float: right;
        vertical-align: top;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        width: 25px;
      }
      .restaurant-price {
        color: #41B30C;
      }
      .restaurant-address {

        .address {

        }
        .city {

        }
        .country {

        }
        .zipCode {

        }
      }
      .phone {

      }
      .site {

      }
    }
    img {
      border-radius: 4px;
    }
  }
  .modal-content {
    margin-top: 125px;
    .close {
      right: 0px;
    }
  .add-comment {
    margin-left: 10px;
    font-size: 0.8em;
  }
  }
}
