body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  header {
    #nav-bar {
      position: fixed;
      height: 80px;
      width: 100%;
      background-color: #4DBD33;
      color: #e8fdff;
      padding: 0 2em 0 2em;
      top: 0;
      z-index: 1;
    }
    #nav-bar .header{
      font-size: 200%;
      line-height: 80px;
    }
  }
  #map {
  height: 100%;
}
}
