body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  .map-column {
    padding-top: 56px;
    width: 50%;
    height: 91%;
    position: fixed;
    right: 0;
    top: 0;
  }
  .search-column {
    padding-top: 70px;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .fixed-top{
    background-color: #4DBD33;
  }
  .restaurant-pic{
    float: left;
    height: 100px;
    width: 100px;
    margin: 0;
  }
  .restaurant-details {
    float: left;
    width: 125px;
    text-align: right;
    margin: 2px 10px;
    display: inline;
  }
  .restaurant-contact {
    float: left;
    text-align: left;
    margin: 2px 10px;
    display: inline;
  }
}
