body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  .map-column {
    padding-top: 56px;
    width: 50%;
    height: 91%;
    position: fixed;
    right: 0;
    top: 0;
  }
  .search-column {
    padding-top: 70px;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .fixed-top{
    background-color: #00B551;
  }
  .restaurant-info {
    .restaurant-pic {
      float: left;
      height: 100px;
      margin: 0;
      width: 100px;
      border-radius: 4px;
    }
    .restaurant-details {
      float: left;
      padding: 0 0 0 20px;
      width: 486px;
      text-align: left;
      .restaurant-name {

      }
      .restaurant-rating {
        background-color: #246CE0;
        border-radius: 4px;
        text-shadow: none;
        float: right;
        margin: 0;
        top: inherit;
        color: #fff;
        cursor: default;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        width: 25px;
      }
      .restaurant-price {

      }
      .restaurant-address {

        .address {

        }
        .city {

        }
        .country {

        }
        .zipCode {

        }
      }
      .phone {

      }
      .site {

      }
    }
    ol {
      list-style-type: decimal;
      margin-left: 25px;
    }
    img {
      border-radius: 3px;
    }
  }

}
